html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(229, 247, 150);
}

.popit{
    height: 450px;
    width: 450px;
    position: absolute;
    left: 34%;
    top: 16%;
}

.popit__line{
    display: flex;
    height: 70px;
    width: 400px;
}
.popit_bubble{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 55%;
}

.popit_bubble:hover{
    height: 55px;
    width: 55px;
    opacity:0.5;
}

#b1{
    margin-top: 5px;
    background-color: rgb(59, 0, 94);
}

#b2{
    margin-top: 10px;
    background-color: rgb(8, 143, 38);
}

#b3{
    margin-top: 10px;
    background-color: rgb(33, 9, 170);
}
#b4{
    margin-top: 10px;
    background-color: rgb(190, 202, 21);
}
#b5{
    margin-top: 10px;
    background-color: rgb(255, 115, 0);
}
#b6{
    margin-top: 5px;
    background-color: rgb(255, 10, 10);
}

#l1{
    background-color: rgb(151, 39, 226);
    border-top:10px solid rgb(196, 3, 255);
    border-right:10px solid rgb(196, 3, 255);
    border-left:10px solid rgb(196, 3, 255);
}

#l2{
    background-color: rgb(58, 209, 38);
    border-right:10px solid lawngreen;
    border-left:10px solid lawngreen;
}

#l3{
    background-color: rgb(34, 80, 179);
    border-right:10px solid rgb(0, 46, 252);
    border-left:10px solid rgb(25, 0, 252);
}

#l4{
    background-color: rgb(248, 252, 13);
    border-right:10px solid rgba(230, 255, 2, 0.842);
    border-left:10px solid rgba(230, 255, 3, 0.849);
}

#l5{
    background-color: rgb(253, 169, 13);
    border-right:10px solid rgb(252, 193, 0);
    border-left:10px solid rgb(252, 227, 0);
}

#l6{
    background-color: rgb(179, 34, 34);
    border-right:10px solid rgb(252, 0, 0);
    border-left:10px solid rgb(252, 0, 0);
    border-bottom:10px solid rgb(255, 3, 3);
}